backups/
!backups/.keep
.lsp-session*
elpa/
auto-save-list/
*.private.el
private/
.cache/
*-cache/
transient/
projects
straight/
autosaves/
!autosaves/.keep
locks/
!locks/.keep
*.el~
.*.el
tramp
tree-sitter/
.dap-breakpoints
.last-package-*
history
